@import "vars";
@import "mixins";
@import "extends"; // ??? при каждом импорте в папки добавляются/дублируются селекторы наследования в CSS ???
@import "base";
@import "header";
@import "footer";
@import "boorgerMenu";
@import "subscribe";

.centering {
    padding-left: calc(50% - $widthSiteDesctop/2);
    padding-right: calc(50% - $widthSiteDesctop/2);
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 63px;
    background: #F1E4E6;
    margin-bottom: 65px;

    &_img {
        margin-left: calc(50% - 570px - 230px);
    }

    &_heading {
        display: flex;
        gap: 10px;

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_h1 {
            color: $colorStyleHeaderPromoFooter;
            font-size: 48px;
            font-weight: 900;
            @extend %fontProduct;
        }

        &_h2 {
            color: $colorStyleHeaderPromoFooter;
            font-size: 32px;
            font-weight: 700;
            @extend %fontProduct;
        }
    }

    &_selectiv {
        color: $ColorSelectSite;
    }
}

.nav_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 96px;
    height: 470px;

    &_text {
        color: $backgroundGeneral;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        @extend %fontProduct;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_selectiv {
        color: $ColorSelectSite;
        font-size: 24px;
        font-weight: 700;
    }

    &_left {
        background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/nav_women.jpg);
        width: 31.5%;
        height: 47%;

    }

    &_center {
        background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/nav_men.jpg);
        width: 31.5%;
        height: 47%;
    }

    &_rigth {
        background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/nav_kids.jpg);
        width: 31.5%;
        height: 47%;
    }

    &_big {
        background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/nav_accesories.jpg);
        width: 100%;
        height: 47%;
    }

}

.lists_unified {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.product_heding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    &_h1 {
        @extend %fontProduct;
        font-weight: 400;
        color: $colorStyleHeaderPromoFooter;
        font-size: 30px;
    }

    &_text {
        @extend %fontProduct;
        font-weight: 400;
        color: #9F9F9F;
        font-size: 14px;
    }
}

.page_heading {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;

    &_title {
        margin: 60px 0;
        color: $ColorSelectSite;
        @extend %fontProduct;
        font-weight: 400;
        font-size: 24px;
    }

    &_breadCrumbs {
        margin: 66px 0;

        &_text {
            color: #636363;
            @extend %fontProduct;
            font-size: 14px;
            font-weight: 300;

            /* Добавление делителя через CSS, через псевдо классы */
            // &::after {
            //     content: " /";
            // }

            // &:last-child::after {
            //     content: " ";
            // }

            /* Объединение двух правил выше в одно */
            &:not(:last-child)::after {
                content: " /";
            }
        }

        .unic {
            color: $ColorSelectSite;
            font-weight: 700;
            @extend %fontProduct;
        }
    }
}

.cart-heading {
    background-color: #F8F3F4;

    &-text {
        padding: 60px 0;
        color: $ColorSelectSite;
        font-size: 24px;
        font-weight: 400;
        @extend %fontProduct;
    }
}

.registration-heading {
    background-color: #F8F3F4;

    &-text {
        padding: 60px 0;
        color: $ColorSelectSite;
        font-size: 24px;
        font-weight: 400;
        @extend %fontProduct;
    }
}

.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    gap: 128px;

    .cartPrice {
        color: $ColorSelectSite;
    }

    &-left {
        width: 58%;

        &-cards {
            position: relative;
            display: flex;
            justify-content: flex-start;
            gap: 31px;
            box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
            margin-bottom: 40px;
        }

        &-specification {

            padding-top: 22px;
            padding-right: 22px;

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 42px;
                color: $colorStyleHeaderPromoFooter;
                font-size: 24px;
                font-weight: 400;
                @extend %fontProduct;

                &-cross {
                    position: absolute;
                    right: 22px;
                    z-index: 3;

                    &:hover path {
                        fill: $ColorSelectSite;
                    }
                }
            }

            &-parameters {
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-bottom: 6px;
                color: $colorText;
                font-size: 22px;
                font-weight: 400;
                @extend %fontProduct;
            }


            &-inputBox {
                display: flex;
                gap: 24px;

                color: $colorText;
                font-size: 22px;
                font-weight: 400;
                @extend %fontProduct;

                &-input {
                    width: 44px;
                    color: $colorText;
                    font-size: 18px;
                    font-weight: 400;
                    @extend %fontProduct;
                    text-align: center;
                }
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            padding-top: 32px;
            font-size: 14px;
            font-weight: 300;
            @extend %fontProduct;

            &-btn {
                padding: 16px 40px;
                background-color: #FFF;
                color: #A4A4A4;
                border: 1px solid #A4A4A4;

                &:hover {
                    background-color: $ColorSelectSite;
                    color: #FFF;
                }
            }
        }
    }

    &-imgBox {
        width: 40%;
    }

    &-right {
        width: 32%;

        &-delivery {
            display: flex;
            flex-direction: column;
            gap: 21px;
            color: #222;
            font-size: 13px;
            font-weight: 300;
            @extend %fontProduct;
            margin-bottom: 57px;

            &>p {
                font-size: 16px;
            }

            &>input {
                padding: 15px;
            }

            &-btn {
                width: 28%;
                padding: 10px 15px;
                box-sizing: content-box;
                background-color: #FFF;
                color: #A4A4A4;
                border: 1px solid #A4A4A4;
                font-size: 11px;
                font-weight: 300;
                @extend %fontProduct;

                &:hover {
                    background-color: $ColorSelectSite;
                    color: #FFF;
                }
            }
        }

        &-total {
            background-color: #F5F3F3;
            padding-right: 34px;
            padding-left: 51px;

            &-summ {
                color: #4A4A4A;
                font-size: 11px;
                font-weight: 400;
                @extend %fontProduct;
                padding-bottom: 21px;
                margin-bottom: 15px;
                border-bottom: 1px solid #E2E2E2;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 12px;
                padding-top: 39px;
            }

            &-btn {
                padding: 15px 42px;
                background-color: $ColorSelectSite;
                color: #FFF;
                margin-bottom: 42px;
                border: none;

                &:hover {
                    background-color: #FFF;
                    color: $ColorSelectSite;
                    // box-shadow: 3px 1px 6px rgba(241, 109, 127, 0.25);
                    filter: drop-shadow(3px 1px 6px rgba(241, 109, 127, 0.25));
                    border: none;
                }
            }
        }
    }

    .text_fz11px_fw400 {
        color: $colorStyleHeaderPromoFooter;
        font-size: 11px;
        font-weight: 400;
        @extend %fontProduct;
        display: flex;
        gap: 20px;
    }

    .text_fz16px_fw300 {
        color: $colorStyleHeaderPromoFooter;
        font-size: 16px;
        font-weight: 300;
        @extend %fontProduct;
    }
}

.regisration {
    &-wraper {
        display: flex;
        justify-content: space-between;
    }

    &-profile {
        width: calc(359px / $widthSiteDesctop * 100%);
        padding-top: 64px;
        padding-bottom: 96px;

        &-form {
            @include flexColumn(20px);
            color: #B1B1B1;
            font-size: 13px;
            font-weight: 300;
            @extend %fontProduct;

            &-title {
                color: $colorStyleHeaderPromoFooter;
                font-size: 16px;
                font-weight: 300;
            }

            &-input {
                padding: 14px;
                color: #B1B1B1;
                font-size: 13px;
                font-weight: 300;
                font-family: Lato;
                @extend %fontProduct;
                outline: none;
            }

            &-text {
                padding-top: -5px;
            }
        }

        &-formSex {
            display: flex;
            gap: 25px;
            margin: 35px 0;

            &-label {
                display: flex;
                gap: 12px;

                &>input {
                    content: url(icon/emptyCircle.svg);
                    width: 20px;
                }

                &>input:active {
                    background-image: url(icon/roseCircle.svg);
                    background-size: cover;
                    width: 20px;
                    opacity: 0.8;
                }
            }
        }

        &-btn {
            margin-top: 39px;
            padding: 16px 29px;
            background-color: $ColorSelectSite;
            color: $backgroundGeneral;
            border: none;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }

        }

        &-btnIcon {
            content: url(icon/arrow_right.svg);
            margin-left: 20px;
        }
    }


    &-banerPromo {
        width: calc(652px / $widthSiteDesctop * 100%);
        color: $colorStyleHeaderPromoFooter;
        font-size: 24px;
        font-weight: 300;
        @extend %fontProduct;
        padding-top: 64px;

        &-title {
            padding-bottom: 21px;
        }

        &-checkIcon {
            content: url(icon/checkMark.svg);
            margin-right: 23px;
        }

        &-text {
            padding-bottom: 16px;
        }
    }
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;

    &_card {
        max-width: calc(($widthSiteDesctop - 60px) / 3);
        background-color: #F8F8F8;
        a:hover {
            opacity: 0.6;
        }

        &_img {
            width: 100%;
            position: relative;

            &:hover .card-hover {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &_title {
            @extend %fontProduct;
            color: $colorStyleHeaderPromoFooter;
            font-size: 13px;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 13px;
            padding-left: 18px;
        }

        &_text {
            @extend %fontProduct;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
            padding-left: 18px;
        }

        &_price {
            @extend %fontProduct;
            color: $ColorSelectSite;
            font-size: 16px;
            font-weight: 400;
            margin-top: 18px;
            margin-bottom: 20px;
            padding-left: 18px;
        }

        .card-hover {
            position: absolute;
            background: rgba(58, 56, 56, 0.86);
            cursor: pointer;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 11px;
                padding: 12px;
                width: 35%;
                border: 1px solid #FFFFFF;

                &-text {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                    @extend %fontProduct;
                }
            }
        }
    }
}

.product_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;

    &_button {
        border: solid 1px $ColorSelectSite;
        padding: 15px 40px;
        background-color: #FFF;
        font-size: 16px;
        font-weight: 400;
        @extend %fontProduct;
        color: $ColorSelectSite;

        &:hover {
            background-color: $ColorSelectSite;
            color: #FFF;
        }
    }
}

.promo {
    background: $colorStyleHeaderPromoFooter;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;

    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &_img {
        margin-bottom: 25px;

        &_2 {
            margin-bottom: 19px;
        }
    }

    &_title {
        margin-bottom: 16px;
        color: #FBFBFB;
        font-size: 19.96px;
        font-weight: 400;
        @extend %fontProduct;
    }

    &_text {
        padding: 0 25px;
        color: #FBFBFB;
        text-align: center;
        font-size: 13.972px;
        font-weight: 300;
        opacity: 0.5;
        @extend %fontProduct;
    }
}



.carusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        width: 40px;
        background-color: #2A2A2A26;
    }

    &_item:hover {
        color: $ColorSelectSite;
    }
}

.fa-xl {
    font-size: x-large;
}

.offer {
    position: relative;
    bottom: 45px;
    z-index: 2;
}

.currentProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundGeneral;
    border: solid 1px #EAEAEA;
    padding: 64px 0;

    &-title {
        color: $ColorSelectSite;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 12px;
        @extend %fontProduct;
    }

    &-name {
        margin-top: 12px;
        margin-bottom: 48px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 300;
        @extend %fontProduct;
    }

    &-text {
        padding: 0 293px;
        margin-bottom: 32px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        @extend %fontProduct;
    }

    &-price {
        color: $ColorSelectSite;
        font-size: 24px;
        font-weight: 300;
        @extend %fontProduct;
        margin-bottom: 65px;
    }

    &-option {
        display: flex;
        gap: 23px;
        margin-top: 64px;
        margin-bottom: 48px;
        color: $colorText;
        font-size: 14px;
        font-weight: 400;
        @extend %fontProduct;

        &-color {
            display: flex;
            gap: 10px;
        }
    }

    &-button {
        background-color: $backgroundGeneral;
        border-color: $ColorSelectSite;
        padding: 12px 43px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #F26376;
        border-style: solid;
    }

    &-button:hover {
        background-color: rgba($color: $ColorSelectSite, $alpha: 0.4);
        color: $backgroundGeneral;
    }
}

.otherProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 128px;
    margin-bottom: 128px;
}

.filter {
    display: flex;
    gap: 30px;
    padding-top: 51px;
    padding-bottom: 65px;

    &-items {
        display: flex;
        gap: 28px;
        width: calc(($widthSiteDesctop - 60px) / 3);
        position: relative;

        &-category {

            /* Стилизация details  в развернутом виде */
            &[open] {
                position: absolute;
                background-color: $backgroundGeneral;
                color: $colorText;
                font-size: 14px;
                font-weight: 600;
                @extend %fontProduct;
                width: 100%;
                box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
                padding: 17px;
                box-sizing: border-box;
                z-index: 3;
                top: -18px;
            }

            &-summary:hover {
                color: $ColorSelectSite;
            }

            /* Смена цвета svg в path при наведении курсора */
            & path:hover {
                fill: $ColorSelectSite;
            }

            /* [open] - для стилизации details в открытом состоянии */
            &[open] &-summary {
                color: $ColorSelectSite;
            }

            /* смена цвета svg в fill возможна, если напрямую прописана в html
через передачу в html картинкой не получается  */
            &[open] path {
                fill: $ColorSelectSite;
            }

            &-summary {
                display: flex;
                gap: 10px;
                color: $colorStyleHeaderPromoFooter;
                font-size: 14px;
                font-weight: 600;
                @extend %fontProduct;

            }

            &-subcategory:hover {
                color: $ColorSelectSite;
            }

            &-subcategory {
                color: $colorText;
                font-size: 14px;
                font-weight: 400;
                @extend %fontProduct;

                @include flexColumn(16px);
                padding-top: 18px;

                &[open] {
                    color: $ColorSelectSite;
                }

                &-summary {
                    border-left: 5px solid $ColorSelectSite;
                    padding: 10px;
                    border-bottom: 1px solid #EBEBEB;
                }

                &-elements {
                    @include flexColumn(11px);
                    padding: 14px 12px;

                    &-el {
                        color: $colorText;
                        font-size: 14px;
                        font-weight: 400;
                        @extend %fontProduct;
                    }

                    &-el:hover {
                        color: $ColorSelectSite;
                    }
                }
            }
        }

        // &-box:hover {
        //     color: $ColorSelectSite;
        // }

        &-box {
            position: relative;
            color: $colorText;
            font-size: 14px;
            font-weight: 400;
            @extend %fontProduct;

            &-details {



                &-summary {
                    padding-left: 5px;
                    padding-bottom: 2px;

                    &:hover {
                        color: $ColorSelectSite;
                    }
                }

                &-pre_part {
                    position: absolute;
                    padding: 9px;
                    background: #FFFFFF;
                    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
                    top: 22px;
                    right: -20px;
                    z-index: 3;
                    display: flex;
                    gap: 6px;
                    width: 60px;
                    flex-direction: column;
                    justify-content: center;
                }

                &-part {
                    display: flex;
                    flex-direction: row;
                    gap: 9px;
                }
            }
        }
    }
}

@import "mediaTablet";
@import "mediaIPhone_11";